/*
 *
 * Housekeeping
 *
 */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

header, nav, footer, section, article, div {
    box-sizing: border-box;
}


body {
  background: #fff;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.intro {
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 2em;
}

.button {
  background: orange;
  color: #fff;
  padding: 1em;
  margin: 2em;
  display: inline-block;
  border-radius: 2em;;
  transition: 0.5s;
  cursor: pointer;
}

 .button:hover {
    opacity: 0.5;
}

table {
  max-width: 80%;
  height: auto;
  margin: auto;
}

td {
  /* position: relative; */
  text-align: center;
}

td img {
  max-width: 100%;
  height: auto;
}

table td {
  border: 0.25em solid gray;
  padding: 0.2em solid white;
}

.cellBtn {
  cursor: pointer;
  background-size: 100%;
  background-color: blue;
  font-size: 2em;
  color: white;
}

.cellBtn img {
  opacity: 0;
}

.imgFadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.imgFadeOut {
  animation-name: fadeOut;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#trySelection {
  visibility: hidden;
}
