/*
 *
 * Housekeeping
 *
 */

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 1em;
}

header,
nav,
footer,
section,
article,
div {
    box-sizing: border-box;
}

/*
 *
 * Main section
 *
 */

body {
  background: #fff;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

/*
 *
 * Introduction and rules paragraph - accordian format
 *
 */

 .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 0.3em;
    width: 50%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 1em;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0.5em 2em;
    background-color: white;
    display: inline-flex;
    max-height: 0;
    font-size: 2em;
    width: 70%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

/*
 *
 * Score board with number of moves and time time clock
 *
 */
#scoreBoard {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  width: 50%;
  height: auto;
  font-size: 2em;
}

#numMoves {
  /* font-size: 2em; */
}

#timeClock {
  /* font-size: 2em; */
}


/*
 *
 * Game board - 4x4 table
 *
 */

table {
  max-width: 80%;
  height: auto;
  margin: auto;
}

td {
  /* pointer-events: none; */
  text-align: center;
}

td img {
  max-width: 100%;
  height: auto;
}

table td {
  border: 0.25em solid gray;
  padding: 0.2em;
}

.cellBtn {
  cursor: pointer;
  background-size: 100%;
  background-color: blue;
  font-size: 2em;
  color: white;
}

.cellBtn img {
  opacity: 0;
}

.imgFadeIn {
  animation-name: fadeIn;
  /* animation-duration: 1s; */
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.imgFadeOut {
  animation-name: fadeOut;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*
 *
 * Reset button
 *
 */

.button {
  background: orange;
  color: #fff;
  padding: 1em;
  margin: 2em;
  display: inline-block;
  border-radius: 2em;;
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}


/*
/*
/* The Modal (background)
/*
*/

/* Modal background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 2em;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0.5em;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.modalClose {
  color: #aaa;
  /* float: right;10 */
  font: 3em "Ubuntu", sans-serif bold;
}

.modalClose:hover,
.modalClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.stars {
  visibility: hidden;
}
